<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cm.aptoide.pt2"
    android:versionCode="407"
    android:versionName="4.0.0beta7" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="8" />
    
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:name=".ApplicationAptoide">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchManager" />
        </activity>
        
		<activity android:name=".ApkInfo" android:configChanges="orientation"> 
		    <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchManager" />
    	</activity>
		
		<activity android:name=".Settings" android:configChanges="orientation" android:theme="@android:style/Theme.Black.NoTitleBar"/>
		<activity android:name=".ScheduledDownloads" android:configChanges="orientation">
		    <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchManager" />
    	</activity>
        <activity android:name=".webservices.login.Login" android:configChanges="orientation"/>
        <activity android:name=".webservices.comments.AddComment" android:configChanges="orientation"/>
        <activity android:name=".webservices.comments.ViewComments" android:configChanges="orientation"/>
        <activity android:name=".webservices.login.CreateUser" android:configChanges="orientation"/>
        <activity android:name=".ScreenshotsViewer" android:configChanges="orientation"/>
        <activity android:name=".DownloadManager" android:configChanges="orientation"/>
        <activity android:name=".HWSpecActivity" android:configChanges="orientation"/>
        <activity android:name=".sharing.WebViewFacebook" android:configChanges="orientation"/>
        <activity android:name=".sharing.WebViewTwitter" android:configChanges="orientation"/>
        
        <activity
            android:name=".SearchManager"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:exported="false"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/find" />
            
        </activity>
        
         <activity
            android:name=".IntentReceiver"
            android:configChanges="orientation"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:mimeType="application/vnd.cm.aptoide.pt" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="aptoiderepo" />
                <data android:scheme="aptoidexml" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="market" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="market.android.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        
        
        <service android:name=".services.MainService"></service>
        <service android:name=".ExtrasService" android:process=":ExtrasService"></service>
        <service android:name=".services.ServiceDownloadManager"></service>
        
        <receiver android:name=".InstalledBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".ScheduledDownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        
        <provider
            android:name=".ExtrasContentProvider"
            android:exported="false"
            android:authorities="extras.contentprovider.beta" >
        </provider>
        
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>